.ngdialog {
  padding-top: 100px !important;

  .ngdialog-content {
    padding: 2em !important;
    overflow: hidden;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial !important;
    border: 2px solid hsl(225,20%,40%);
    @include box-shadow(0 0 10px rgba(0,0,0,0.4));
    @include border-radius(0.4em);

    h1,h2,h3,h4,h5,h6 {
      margin: 0px 0 1em;
      font-weight: 300;

      span {
        text-transform: uppercase;
      }
    }

    h3 {
      font-weight: 800;
    }

    h5 {
      font-weight: 800;
      font-size: 0.9em;
    }

    p {
      margin: 0 0 1.4em;
    }

    strong {
      font-weight: 800;
    }

    input {
      border: 2px solid #CCC;
      width: 100%;
      line-height: 2em;
      font-family: 'Open Sans';
      font-weight: 600;
      padding: 0 0.5em;
      margin: 0 0 1em;
      @include border-radius(0.4em);
    }

    .spinner {
      position: relative;
      margin: 1em 0;
      left: 50%;
    }

    .btn {
      padding: 0.3em 1em;
      font-size: 1em;
    }
    .absolute-right {
      right: 2em;
      bottom: 2em;
    }
  }
}
